.vscode
bin
obj
.ionide
.ccls-cache
sketch/*.elf
sketch/*.hex
.vim
avr/cores/megacommand/**/*.o
avr/cores/megacommand/**/*.d
avr/cores/megacommand/**/*.hex
avr/cores/megacommand/**/*.elf
avr/cores/megacommand/**/*.a

